In [ ]:
import pandas as pd

In [ ]:
!pip install fast_ml

Collecting fast_ml
  Downloading fast_ml-3.68-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 805 kB/s
Installing collected packages: fast-ml
Successfully installed fast-ml-3.68

In [ ]:
from fast_ml.model_development import train_valid_test_split

In [56]:
df = pd.read_csv('/content/TextCSV.csv', encoding="ISO-8859-1", low_memory=False)

In [ ]:
X_train, y_train, X_valid, y_valid, X_test, y_test = train_valid_test_split(df, target = 'Label', 
                                                                            train_size=0.8, valid_size=0.1, test_size=0.1)

In [ ]:
print(X_train.shape), print(y_train.shape)
print(X_valid.shape), print(y_valid.shape)
print(X_test.shape), print(y_test.shape)

(2427, 1)
(2427,)
(303, 1)
(303,)
(304, 1)
(304,)

(None, None)

In [ ]:
X_train.head

<bound method NDFrame.head of                                                    Text
690   Recientamente fui al Guatemala para hacer inve...
1205  El verano pasado, durantes las vacaciones, viv...
1844  Quiero hablar de la región donde vivo en Franc...
2586  Primero, cuando Chaplin andadó en afuera cayó ...
1973  El año pasado pasé las vacaciones de verano en...
...                                                 ...
2746  Un día un niño llevó una rana a su casa. En la...
2151  Es un video con Charlie Chaplin. El esta camin...
1317  Un día habia una muchacho se llama Pedro y su ...
314   Yo soy Andrel Simmons. Soy de Valdosta, Georgi...
1954  Este verano pasé el mes de julio en Perú. Fui ...

[2427 rows x 1 columns]>

In [ ]:
y_train

690     Lower_intermediate
1205    Upper_intermediate
1844        Upper_advanced
2586        Upper_beginner
1973        Upper_advanced
               ...
2746        Lower_advanced
2151    Lower_intermediate
1317    Upper_intermediate
314         Upper_beginner
1954        Upper_advanced
Name: Label, Length: 2427, dtype: object

In [ ]:
X_valid.head

<bound method NDFrame.head of                                                    Text
1038  Para mis vacaciónes en el año pasado, fui a Or...
1761  La región donde vivo, el oeste de Escocia, pre...
331   Me fui a la cama anoche. Dije buenas noches a ...
2080  Al principio del video ves al hombre caminando...
2060  El personaje (Charles Chaplin) encuentra un be...
...                                                 ...
1114  Aprendi Espanol quando estaba in escuela secon...
118   Hola, me llamo Jake. Yo vivo en Lafayette, Ind...
2657  Chaplin busca un bebé por casualidad, y está p...
620   Yo voy a escribir sobre una persona famosa. Su...
2140  Este video trata de la película de Charlie Cha...

[303 rows x 1 columns]>

In [ ]:
X_test.head

<bound method NDFrame.head of                                                    Text
1764  Últimamente, dado el tiempo fatal en Andalucía...
1375  Pienso que la nueva ley anti-tabaco viola la c...
2567  Se llamo Chaplin.Es pequeño y gordo. Se puso u...
2776  Al principio del video Chaplin estava en una c...
696   Vivo en York con mi marido Neil y mi hija Frey...
...                                                 ...
1448  hhh hay una hay un hombre que está hhh andando...
1211  Yo vivo en la region de Dallas, TX en los Esta...
1380  Mis vacaciones del ano pasado estaban MUY inte...
149   UNA PELÍCULA SOBRE UN BEBÉ ENCONTRADO Y BUSCAN...
1268  ¿Qué opinas de la nueva ley anti-tobaco? A mi ...

[304 rows x 1 columns]>

# Merging the train data

In [57]:
train = pd.merge(X_train, y_train, left_index=True, right_index=True)

In [58]:
train

                                                   Text               Label
690   Recientamente fui al Guatemala para hacer inve...  Lower_intermediate
1205  El verano pasado, durantes las vacaciones, viv...  Upper_intermediate
1844  Quiero hablar de la región donde vivo en Franc...      Upper_advanced
2586  Primero, cuando Chaplin andadó en afuera cayó ...      Upper_beginner
1973  El año pasado pasé las vacaciones de verano en...      Upper_advanced
...                                                 ...                 ...
2746  Un día un niño llevó una rana a su casa. En la...      Lower_advanced
2151  Es un video con Charlie Chaplin. El esta camin...  Lower_intermediate
1317  Un día habia una muchacho se llama Pedro y su ...  Upper_intermediate
314   Yo soy Andrel Simmons. Soy de Valdosta, Georgi...      Upper_beginner
1954  Este verano pasé el mes de julio en Perú. Fui ...      Upper_advanced

[2427 rows x 2 columns]

In [59]:
train.reset_index(drop=True, inplace=True)

In [46]:
train

                                                   Text               Label
0     Recientamente fui al Guatemala para hacer inve...  Lower_intermediate
1     El verano pasado, durantes las vacaciones, viv...  Upper_intermediate
2     Quiero hablar de la región donde vivo en Franc...      Upper_advanced
3     Primero, cuando Chaplin andadó en afuera cayó ...      Upper_beginner
4     El año pasado pasé las vacaciones de verano en...      Upper_advanced
...                                                 ...                 ...
2422  Un día un niño llevó una rana a su casa. En la...      Lower_advanced
2423  Es un video con Charlie Chaplin. El esta camin...  Lower_intermediate
2424  Un día habia una muchacho se llama Pedro y su ...  Upper_intermediate
2425  Yo soy Andrel Simmons. Soy de Valdosta, Georgi...      Upper_beginner
2426  Este verano pasé el mes de julio en Perú. Fui ...      Upper_advanced

[2427 rows x 2 columns]

In [60]:
train.to_csv("train.tsv", sep="\t",  index = False)

# Merging the dev data

In [61]:
dev = pd.merge(X_valid, y_valid, left_index=True, right_index=True)

In [62]:
dev

                                                   Text               Label
1038  Para mis vacaciónes en el año pasado, fui a Or...  Upper_intermediate
1761  La región donde vivo, el oeste de Escocia, pre...      Lower_advanced
331   Me fui a la cama anoche. Dije buenas noches a ...      Upper_beginner
2080  Al principio del video ves al hombre caminando...      Upper_advanced
2060  El personaje (Charles Chaplin) encuentra un be...      Lower_advanced
...                                                 ...                 ...
1114  Aprendi Espanol quando estaba in escuela secon...  Upper_intermediate
118   Hola, me llamo Jake. Yo vivo en Lafayette, Ind...      Lower_beginner
2657  Chaplin busca un bebé por casualidad, y está p...  Lower_intermediate
620   Yo voy a escribir sobre una persona famosa. Su...  Lower_intermediate
2140  Este video trata de la película de Charlie Cha...      Lower_advanced

[303 rows x 2 columns]

In [63]:
dev.reset_index(drop=True, inplace=True)

In [50]:
dev

                                                  Text               Label
0    Para mis vacaciónes en el año pasado, fui a Or...  Upper_intermediate
1    La región donde vivo, el oeste de Escocia, pre...      Lower_advanced
2    Me fui a la cama anoche. Dije buenas noches a ...      Upper_beginner
3    Al principio del video ves al hombre caminando...      Upper_advanced
4    El personaje (Charles Chaplin) encuentra un be...      Lower_advanced
..                                                 ...                 ...
298  Aprendi Espanol quando estaba in escuela secon...  Upper_intermediate
299  Hola, me llamo Jake. Yo vivo en Lafayette, Ind...      Lower_beginner
300  Chaplin busca un bebé por casualidad, y está p...  Lower_intermediate
301  Yo voy a escribir sobre una persona famosa. Su...  Lower_intermediate
302  Este video trata de la película de Charlie Cha...      Lower_advanced

[303 rows x 2 columns]

In [64]:
dev.to_csv("dev.tsv", sep="\t",  index = False)

# Merging the test data

In [65]:
test = pd.merge(X_test, y_test, left_index=True, right_index=True)

In [66]:
test

                                                   Text               Label
1764  Últimamente, dado el tiempo fatal en Andalucía...      Lower_advanced
1375  Pienso que la nueva ley anti-tabaco viola la c...      Lower_advanced
2567  Se llamo Chaplin.Es pequeño y gordo. Se puso u...      Upper_beginner
2776  Al principio del video Chaplin estava en una c...      Upper_beginner
696   Vivo en York con mi marido Neil y mi hija Frey...  Lower_intermediate
...                                                 ...                 ...
1448  hhh hay una hay un hombre que está hhh andando...      Lower_advanced
1211  Yo vivo en la region de Dallas, TX en los Esta...  Upper_intermediate
1380  Mis vacaciones del ano pasado estaban MUY inte...      Lower_advanced
149   UNA PELÍCULA SOBRE UN BEBÉ ENCONTRADO Y BUSCAN...      Lower_beginner
1268  ¿Qué opinas de la nueva ley anti-tobaco? A mi ...  Upper_intermediate

[304 rows x 2 columns]

In [67]:
test.reset_index(drop=True, inplace=True)

In [68]:
test.to_csv("test.tsv", sep="\t",  index = False)